* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background: rgb(6, 6, 6);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: rgb(105, 122, 137);
    
}
h1{
    color: rgb(42, 41, 41);
}
  

nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

nav a:hover,
.active {
    color: #0077cc;
}

.travel-hero {
    background-image:url(image/WhatsApp\ Image\ 2025-12-09\ at\ 7.16.04\ PM.jpeg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(2, 2, 2);
    text-align: center;
    
}

.travel-hero h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.travel-hero p {
    font-size: 18px;
}

.travel-list {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.travel-card {
    width: 300px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: 0.3s;
}

.travel-card:hover {
    transform: translateY(-5px);
}

.travel-card img {
    width: 100%;
}

.travel-card h3 {
    padding: 15px;
}

.travel-card p {
    padding: 0 15px 10px 15px;
}

.travel-card a {
    display: block;
    margin: 10px 15px;
    padding: 8px 0;
    background: #0077cc;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.footer{
    text-align: center;
}